body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#auction-list {
    margin-top: 10px;
}

.auction-item, .new-auction-form {
    
}

p {
    margin: 0 0 5px;
}

 .agent-log-wrapper {
 	position: fixed; 	 	
 	width: 100%;
 	bottom: 0px;
 	background: #2F2F2F; 	
 	color: #C6C6C6; 	
 	margin: 0px; 	
 }

 .agent-log {
 	margin: 4px 2px 4px 2px; 	 	
 	min-height: 98px; 	
 	max-height: 478px;
 	height: 98px;
 	padding: 5px;
 	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  	background: #202020;
  	background-color: rgba(0, 0, 0, 0.3);
  	overflow: auto;
 }

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
	overflow: hidden;
}

.widget-header {
	position: relative;
	height: 30px;
	line-height: 30px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

.widget-header h3 {
    color: #555555;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    left: 10px;
    line-height: 14px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    
}

.widget-content:after {
    clear: both;
}

.widget-content:before, .widget-content:after {
    content: "";
    display: table;
}

.widget-content:before, .widget-content:after {
    content: "";
    display: table;
}

.widget-box .widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
}

.widget-header + .widget-content {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget-content {
}

.widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 15px 15px;
}